<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />

    <title><% title %></title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="error">
      <div class="container ">
        <div class="row text-left">
          <div class="col-12">
            <h1 class="display-1 font-weight-bold text-primary">ERROR:</h1>
          </div>
          
        </div>
      </div><figure > 
        <img src="error.png" alt="" class="img-fluid" />
      </figure>

      
    </div>
  </body>
</html>
